*.swp
.DS_Store
bin/

# IDEA Ignores
*.iml
*.ipr
*.iws
.idea

# Eclipse Ignores
.classpath
.metadata
.settings
.project

# Gradle Ignores
.gradle
build

# ignore local.properties
local.properties

/modules/*/out/
/modules/*/src/dist/cfg/local.yml

Find.jar